@charset "UTF-8";
/* article, section, aside, hgroup, nav, header, footer, figure, figcaption */

/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
  background-color: darkred;
}

header {
  height: 200px;
  background-color:white;
  /* margin-bottom: 50px; */
}

.item-inner {
  padding-bottom: 60px;
}

#logo {
  float:left;
  margin-left:2.4em;
  padding-top:40px;
}

#logo img {
  max-width:50%;
  margin:auto;
}

.slicknav_menu {
  display:none;
}

.menu-bor {
  box-shadow: 0px 2px 0px 0px rgba(68, 61, 68, 0.3);
  background-color: #000000;
}

#menu {
  margin-top: 20px;
}

nav {
  width:100%;
  position:absolute;
  margin-top: 150px;
}

nav li {
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
  list-style-type:none;
  float:left;
  margin-right: 70px;
  line-height:25px;
  letter-spacing:0.1em;
  font-size:1.155em;
}

.highlight a {
  color:#ed4213;
  text-decoration:none;
}

nav li a {
  font-weight:700;
  text-decoration:none;
  color:white;
}

nav li a:hover {
  text-decoration:none;
  color:#ed4213;
}

nav li a:focus {
  color:#ed4213;
}

.social-grp {
  padding-right: 30px;
}

.fa-newspaper,
.fa-spotify,
.fa-twitter,
.fa-instagram,
.fa-youtube {
  color:white;
  padding: 0em .6em;
}

.fa-newspaper:hover,
.fa-spotify:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color:#ed4213;
  text-decoration: none;
}

.img-responsive {
  width:100%;
  height:100%;
}

.top-img {
  padding-bottom:20px;
}

.Radikal-Regular {
  font-family: Radikal-Regular;
  font-weight: normal;
  font-style: normal;
}

.row-wrap {
  padding:100px;

}
.row-wrap-1 {
  padding-top: 30px;
  color: black;
}

.row-wrap h1,
.row-wrap-1 h1 {
  font-size:40px;
  font-family:'Radikal', Arial, sans-serif;
  font-weight:500;
  color:black;
  text-align:center;
  letter-spacing:3px;
  margin-bottom:55px;
}

a.hover-text::before,
a.hover-text-lg::before {
  content: attr(data-name);
  font-family: Radikal-Regular;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size:40px;
  color:#ed4213;
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  padding: .3em 20px;
  margin-left:15px;
  margin-right:15px;
  background: rgba(8, 2, 0, 0.5);
  text-decoration: none !important;
  opacity: 1;
}
a.hover-text::before {
  width: 92%;
}
a.hover-text-lg::before {
  width: 94.7%;
}

.custom-margins {
  margin-top: 140px !important;
}

.pages-heading {
  font-family: "Open Sans", sans-serif !important;
  font-size: 3em;
  color: orangered;
  }



/* ======= Music Section ======= */

.music-player-col, .player-row {
  margin-top: 5vh;
}

.content {
  min-height: 70vh;
}
/* ======= Music Section ======= */

.content2 {
  padding-top: 12vh;
  padding-bottom: 8vh;
}

#player {
  font-family: "Open Sans", sans-serif !important;
  font-size: 22px !important;
}

.custom-player {
  margin-left: 0;
}

.cover-figure {
  max-width: 535px;
  max-height: 535px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  background: #101113;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.cover-figure .cover-image {
  position: relative;
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
}

.cover-figure:hover .cover-image {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.album-title {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 0;
  max-width: 235px;
  white-space: nowrap;
  font-family: Radikal-Regular;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  /* text-transform: uppercase; */
}

ul.track-list {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  list-style: none;
  padding: 0;
  margin-left: 5px;
  line-height: 35px;
  font-size: 15px;
}

.music-section .music-action {
  margin-top: 30px;
}

a.btn-primary,
.btn-primary {
  background: #ed4213;
  border: none;
  color: white ;
  font-family: Radikal-Regular;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.btn-primary:hover {
  color: #fff;
  background-color: red;
  border-color: red;
}


/* controls in the tour, videos and  page */

/* stops the bottom of iframe from being cut off */
.embed-responsive {
  position: inherit;
}

.music-box {
  text-align: center;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 1.3em;
}

.album-info p {
  font-size:16px;
  font-family:'Open Sans', sans-serif;
  font-weight:200;
  color:black;
  text-align:center;
  letter-spacing:1.5px;
}

.info-image {
  width: 50%;
}

/* video styles */

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75vh;
}

iframe.video-page {
  width: 1270px;
  height: 750px;
  border: none;
}

/* controls the text in the music page */
.album-info {
  list-style: none;
}

ul.album-info {
    font-family:'Open Sans',
    sans-serif;
    font-weight: 700;
}

/* controls the bandcamp player */
*, *:before, *:after {
  box-sizing: border-box;
}

iframe.custom-player {
  display: block;
  transition: opacity 0.125s;
  border-width: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* controls info text */

.head1 {
  text-align:left; font-size:.9em;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  color:black;;
  letter-spacing:1.4px
}


.main-column {
  max-width: 700px;
  margin: 0 auto 0px;
}


.info-info {
  margin: 10% 0px;
  text-align: left;
  font-size: 16px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-weight:500;
  line-height: 30px;
}

p a:link {
  color:#ed4213;
}

p a:visited {
  color:#ed4213;
}

p a:hover {
  color:#ed4213;
  text-decoration:underline;
}

p a:active {
  color:#ed4213;
  text-decoration:underline;
}

.span-opport {
  font-family: Radikal-Regular;
}

/* end control info text */

footer {
  clear:both;
  width:100%;
 
  background-color:black;
  position: absolute;
  bottom: 0;
  height:100px;
}

footer p {
  font-size:1em;
  font-family:'Open Sans', sans-serif;
  color:white;
  text-align:center;
  letter-spacing:1px;
  padding-top: 40px;
  font-weight: 300;
}

footer a:link {
  color:#ed4213;
  text-decoration: none;
  font-weight: 700;
}

footer a:visited {
  color:#ed4213;
  text-decoration: none;
}

footer a:hover {
  color:#ed4213;
  text-decoration: underline;
}

.fa-copyright {
  padding: 0px 2px 0px 5px;
}

.socialfooter {
  text-align:center;
  padding-top: .8em;
}

.whiteiconcolor {
  color:#FFF;
}
/* shows page */
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ed4213;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.coming-soon {
  z-index: 200;
  text-transform: uppercase;
}

.center-screen-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}


@media screen and (max-width: 1440px) {
  /* header {
    margin-bottom: 20px;
  } */
  /* #logo {
    margin-left: 3.4em;
  } */

  #menu {
    margin-left: 1em;
  }
  /* .row-wrap {
    padding: 50px;
  } */
  .info-image {
    width: 80%;
    height: 50%;
  }
    .main-column {
    margin: 0 auto 20px;
  }
  /* video styles */

  iframe.video-page {
    width: 1180px;
    height: 650px;
  }
  .center-screen-2{
      margin-top: 25px;
      min-height: 65vh;
  }
}
@media screen and (max-width: 1281px) {
  .center-screen-2 {
    margin-top: 25px;
    min-height: 60vh;
  }
}

@media screen and (max-width: 1198px) {
  
  .row-wrap {
    color: black;
    /* padding: 0px; */
  }
  .content {
    padding-top: 8vh;
    padding-bottom: 8vh;
  }
  .content2 {
    padding-top: 12vh;
    padding-bottom: 8vh;
  }

  .music-box {
    margin-top: 50px;
  }

  a.hover-text::before {
    width: 90.5%;
  }

  a.hover-text-lg::before {
    width: 93.7%;
  }

  iframe.video-page {
    width: 1024px;
    height: 800px;
  }

}
@media screen and (max-width:1024px) {
  /* header {
    margin-top:30px;
  } */

  nav li {
    margin-right: 50px;
  }

  .top-img {
    padding-bottom: 40px;
  }
  
  .main-column {
    margin: 0 auto 40px;
  }

  iframe.video-page {
    width: 800px;
    height: 800px;
  }

  .center-screen-2 {
    margin-top: 80px;
    min-height: 66vh;
  }
}

@media screen and (max-width:991px) {
  .pages-heading {
    font-size: 3em;
  }

  .fa-newspaper, .fa-spotify, .fa-twitter, .fa-instagram, .fa-youtube {
    font-size: 20px;
  }
    a.hover-text::before {
    width: 87.5%;
  }

  a.hover-text-lg::before {
    width: 91.7%;
  }

  a.hover-text::before,
  a.hover-text-lg::before {
    background: rgba(8, 2, 0, 0.6);
    font-size: 25px;
  }
}

@media screen and (max-width:800px) {
  nav li {
    font-size: 16px;
  }

  .content {
    padding-top: 7vh;
    padding-bottom: 7vh;
  }

  .content2 {
    padding-top: 12vh !important;
    padding-bottom: 8vh;
}
  iframe.video-page {
    width: 600px;
    height: 800px;
  }
 
  .center-screen-2 {
    margin-top: 20px;
    min-height: 65vh;
  }
}

@media screen and (max-width:767px) {

.js nav {
  display:none;
}

.js .slicknav_menu {
  display: block;
}

header {
  height: 150px;
  border-bottom: none;
}

#logo {
  /* padding-top: 8px; */
  margin-bottom: 20px;
  margin-left: 1.3em;
  padding-left: 10px;
}

#logo img {
  max-width:50%;
  margin:auto;
}

.slicknav_btn {
  margin: -100px 35px 15px 25px;
  font-size: 25px;
}

.social {
  float: left;
}

.fa-newspaper,
.fa-spotify,
.fa-twitter,
.fa-instagram,
.fa-youtube {
  padding: 0em 0em;
}


.content {
  padding-top: 0;
  padding-bottom: 0;
}


.content2 {
  padding-top: 4vh !important;
  padding-bottom: 2vh;
}

.cover-image {    
  padding: 15px;
}

h2.album-title {
  text-align: center;
  display: block;
  max-width: none;
  font-size: 25px;
}

ul.track-list {
  text-align: center;
  line-height: 30px;
}


.top-img {
  padding-bottom: 0px;
}

.img-responsive {
  width:100%;
  height:100%;
  margin-top:0em;
}

.jumbotron {
  margin:-10px 0px -10px 0px;
}

.row-wrap {
  /* padding-top:0px;
  margin-top:0px; */
  padding-bottom: 40px;
}

.row-wrap h1 {
  font-size:35px;
}

.ind-img,
.ind-img-2,
.ind-img-3 {
  padding-top: 30px;
  padding-bottom: 0px;
  margin-left: 45px;
  margin-right: 45px;
}

a.hover-text::before,
a.hover-text-lg::before,
a.hover-text-spin::before {
  /* padding: 1em 20px; */
  width: 93.5%;
  font-size: 50px;
}

/* controls in the tour, videos and  page */
.music-box {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.info-image {
    margin-top: 20px;
    width: 65%;
    height: 50%;
}

.spotify-embeds {
  width: 100%;
  padding: 0px 100px;
}

.main-column {
  padding: 0 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

}

@media screen and (max-width:550px) {
  /*

  smartphones, Android phones, landscape iPhone
  */
  .pages-heading {
    font-size: 2em;
  }
#logo {
  /* float:left; */
  margin-left:.6em;
  /* padding-top:0px; */
  /* width:75%; */
}

#logo img{
  /* max-width:90%; */
  margin:auto;
}
.slicknav_btn {
  margin: -70px 15px 15px 15px;
}

.head1 {
  font-size:.9em;
  font-family:'Raleway', Arial, sans-serif;
  font-weight:300;
  color: white;
}

a.hover-text::before,
a.hover-text-lg::before {
  padding: .3em 20px;
  width: 93%;
}

.music-box {
  margin-bottom: .6em;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
}

p {
  font-size:18px;
}
  iframe.video-page {
    width: 400px;
    height: 800px;
  }

}

@media screen and (max-width:510px) {
  #logo {
    /* float: left; */
    /* margin-left: .6em;
    padding-top: 0px; */
    width: 50%;
    margin-bottom: 0px;
  }

  #logo img {
    max-width: 100%;
  }

  a.hover-text::before,
  a.hover-text-lg::before{
    width: 92.3%;
  }
}


@media screen and (max-width:480px) {

  .slicknav_btn{
    /* margin: -22px 25px 15px 15px; */
    font-size: 25px;
  }

  .row-wrap {
    padding:10px;
  }


  a.hover-text::before,
  a.hover-text-lg::before {
    font-size: 50px;
    text-transform: lowercase;
    /* padding: 3em 20px; */
    margin-bottom:2em;
    color: white;
    background: none;
    letter-spacing: 5px;
    opacity: 1;
  }

  .ind-img,
  .ind-img-2,
  .ind-img-3 {
    padding-top: 0px;
    padding-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .slicknav_nav a {
    margin-left: 15px;
  }

  .col-sm-12 p {
    font-size: 16px;
  }

  .row-wrap h1 {
    font-size:25px;
  }

  .row-wrap p {
    font-size:15px;
  }

  .main-column {
    padding: 0px 10px;
    margin-top: -10px;
  }


  .music-box {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 85%; height: 85%;
  }

  .center-screen-2 {
    margin-top: 15px;
    min-height: 65vh;
    margin-bottom: 15px;
  }

}

@media screen and (max-width:380px) {

  .music-box {
    margin-top: 0px;
  }

  iframe.video-page {
    width: 300px;
    height: 800px;
  }
}

